body {
  font-family: sans-serif;
  background: #f0f2f5;
  padding: 40px;
}

.container {
  background: white;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #1a73e8;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form input, form select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.back-button {
  display: inline-block;
  margin-top: 10px;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.back-button:hover {
  text-decoration: underline;
}



button {
  background: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
